@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.header{
    margin: 32px 0 0 42px;
}

a{
    text-decoration: none;
    margin-right: 36px ;
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    cursor: pointer;
}

a:hover{
    opacity: 0.4;
}

a:active{
    opacity: 0.8;
}

button{
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #ffffff;
    cursor: pointer;
}

button:hover{
    opacity: 0.4;
}

button:active{
    opacity: 0.8;
}

.all-content{
    display: flex;
    padding: 163px 0 163px 121px;
}

.illustration{
    
    width: 595.18px;
    height: 500px;
    position:static;
    top: 246px;
    left: 121px;

}

.content{
    display: inline-block;
    margin-left: 85px;
}

h1{
    width: 582px;
    height: 164px;
    top: 342px;
    left: 801px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    text-align: left;
    color: #161A49;

}

p{
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 183.333% */
    letter-spacing: 0.5px;
    margin: 47px 0 55px 0;
}

a.link-content{
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    margin-right: 0px ;
    cursor: pointer;
}

a.link-content:hover{
    opacity: 0.4;
}

a.link-content:active{
    opacity: 0.8;
}

@media screen and (max-width: 900px){
    menu a{
        display: none;
    }
    .header{
        margin: 15px 0 0 0;
    }
    button{
        margin-left: 75vw;
        width: 91px;
        height: 31px;
        flex-shrink: 0;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
    }
    .all-content{
        display:block;
        padding: 200px 0px;


    }

    h1{
        width: 278px;
        height: 60px;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 100% */
        letter-spacing: 0.596px;
          
    }
    p{
        width: 304px;
        text-align: center;
        margin-top:20px;
        margin-bottom: 30px;

    }

    a.link-content{
    text-align: center;
    }

    img{
        width: 279.921px;
        height: 268.932px;
        flex-shrink: 0;


    }
    .illustration{
         position: relative;
         left: 100px;
    }
    .content{
        display: block;
        position:absolute;
        top: 125px;
        text-align: center;
    }

}